<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		 id="WebApp_ID" version="3.0">
  
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
	    	classpath:applicationContext.xml
	    </param-value>
	</context-param>
	
    <context-param>  
        <param-name>log4jConfigLocation</param-name>  
        <param-value>classpath:log4j.properties</param-value>  
    </context-param>
     	
	<!-- 加载log4j.properties -->
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    
    <!-- 加载 applicationContext.xml-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>	  
  
    <!-- 每一个servlet标签对应一个ServletConfig对象 -->
	<servlet>
		<!--给你的servlet起名字，任意的-->
	    <servlet-name>myServlet</servlet-name>
	    <!--指明servlet的路径，包名+类名 注意类名后不能加上java-->
	    <servlet-class>xf.mvc.servlet.MyServlet</servlet-class>
	    <init-param>
	    	<param-name>path</param-name>
	    	<param-value>/gce/xf</param-value>
	    </init-param>
	</servlet>
	 
	<servlet-mapping>
	    <servlet-name>myServlet</servlet-name>
	    <!--这是浏览器中输入的访问该servlet的url;任意的-->
		<url-pattern>/gce</url-pattern>
	</servlet-mapping>


  
  
  
  
</web-app>
