<?xml version="1.0" encoding="UTF-8"?>

<!-- xmlns默认命名空间，spring框架知道怎么解析这个文件，spring还支持自定义的标签，不过需要提供解析实现类 
参考：org.springframework.beans.factory.xml.DefaultBeanDefinitionDocumentReader.parseBeanDefinitions(Element, BeanDefinitionParserDelegate)
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="car" class="xf.mvc.spring.factorybean.CarFactoryBean" >
		<property name="carInfo" value="超级跑车,400,20000000"></property>
	</bean>
	<!-- 
	当调用getBean("car")时，spring通过反射机制发现CarFactoryBean实现了FactoryBean接口
	这时，spring容器就调用接口方法FactoryBean#getObject()返回。
	
	如果希望获取CarFactoryBean的实例，则需要在使用getBean(beanName)方法时，在beanName前面加上“&”，如getBean("&car")
	
	—————————使用FactoryBean接口，配置方式更灵活
	 -->
</beans>